<div class="sign">
    <form class="sign__form">
        <button class="sign__button-close">+</button>
        <div class="sign__input">
            <label class="sign__input_label" for="sign-email">Email *</label>
        <input type="text" name="email" id="sign-email">
        </div>
        <div class="sign__input">
            <label class="sign__input_label" for="sign-email">Password *</label>
        <input type="text" name="password" id="sign-password">
        </div>
        <button type="submit" class="social-inner">Login</button>
    </form>
</div>


<div class="register">
    <form class="register__form">
        <button class="register__button-close">+</button>
        <div class="register__input">
            <label class="register__input_label" for="register-email">Email *</label>
            <input class="register__input-border" type="text" name="email" id="register-email">
        </div>
        <div class="register__input2">
            <div class="register__input3">
                <label class="register__input_label" for="register-email">Name *</label>
                <input class="register__input-border" type="text" name="email" id="register-email">
            </div>
            <div class="register__input3">
                <label class="register__input_label" for="register-email">Surname *</label>
                <input class="register__input-border" type="text" name="email" id="register-email">
            </div>
        </div>
        <div class="register__input2">
            <div class="register__input3">
                <label class="register__input_label" for="register-email">Password *</label>
                <input class="register__input-border" type="text" name="password" id="register-password">
            </div>
            <div class="register__input3">
                <label class="register__input_label" for="register-email">Repeat password *</label>
                <input class="register__input-border" type="text" name="password" id="register-password">
            </div>
        </div>
        <div class="register__input2">
            <div class="register__input3">
                <label class="register__input_label" for="register-email">Location *</label>
                <input class="register__input-border" type="text" name="password" id="register-password">
            </div>
            <div class="register__input3">
                <label class="register__input_label" for="register-email">Age *</label>
                <input class="register__input-border" type="text" name="password" id="register-password">
            </div>
        </div>
        <div class="register__input4">
            <input type="checkbox" id="register-check">
            <label for="register-check" class="register__check-label">Clicking on the button, you consent to the processing of your personal data.</label>
        </div>
        <button type="submit" class="social-inner">Sign in</button>
    </form>
</div>