<header class="header container">
        <div class="header__inner">
            <div class="header__home">
                <li class="header__list_item"><a class="header__list_link-home" href="/">Home</a></li>
            </div>
            <ul class="header__list">
                <li class="header__list_item"><a class="header__list_link" href="#">My blog</a></li>
                <li class="header__list_item"><a class="header__list_link-sign" href="#">Sign in</a></li>
                <li class="header__list_item"><a class="header__list_link-register" href="#">Register</a></li>
            </ul>
        </div>
    </header>